.header > ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}

.admin-home {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.event-name {
  font-family: 'Azonix', sans-serif;
  color: #fff;
  font-size: 25px;
}

.reviews-list {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.review-button {
  background-color: #335677;
  outline: 0;
  margin: 5px;
  padding: 15px;
  border: 0;
  border-radius: 4px;
  width: 250px;
  color: #fff;
  font-size: 1rem;
  transition: all 500ms;
  z-index: 20;
}

@media screen and (max-width: 844px) {
  .reviews-list {
    flex-direction: column;
    width: max-content;
  }

  .review-button {
    transform: scale(0.95);
    margin: 5px 0;
  }
}

.review-button:hover {
  cursor: pointer;
  box-shadow: rgba(2, 8, 20, 0.1) 0 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
  background-color: #fff;
  color: #171717;
}

.event {
  margin-bottom: 2.7rem;
}

@media screen and (max-width: 425px) {
  .event {
    text-align: center;
  }

  .reviews-list {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.review-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.897);
  display: grid;
  place-items: center;
  z-index: 1000;
}

.review-card {
  width: 60%;
  height: 80%;
  border: 2px solid #406c95;
  border-radius: 7px;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-around;
}

.review-card-small {
  width: 60%;
  height: 80%;
}

.review-card-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px 0 40px;
  align-items: flex-end;
}

.review-card-nav > span {
  display: flex;
}

.review-event-name {
  font-family: 'Poppins', sans-serif;
  padding: 8px;
  padding-left: 0;
}

.event-review-no {
  font-family: 'Poppins', sans-serif;
  padding: 8px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.review-body {
  height: 100%;
  padding: 40px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.team-details {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.scores-and-comments {
  padding: 0 50px 0 20px;
  width: 100%;
  height: 100%;
}

.review-members-container {
  height: 30%;
  overflow: auto;
}

.review-abstract-body {
  margin-bottom: 20px;
  min-width: 80% !important;
  max-width: 85% !important;
}

.review-link-actual {
  color: rgb(139, 134, 187);
}

.metrics {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.metrics-container {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.metrics-title {
  margin-bottom: 5px;
}

.metric-name {
  font-family: 'Roboto', sans-serif;
}

.metric-input {
  height: 2rem;
  background-color: inherit;
  border: 2px solid #406c95;
  border-radius: 7px;
  width: 14ch;
  color: #fff;
  padding: 0 10px;
  text-align: center;
}

.metric-input:focus {
  outline: none;
  border: 2px solid #2378c7;
  box-shadow: 0 0 2px rgb(231, 231, 231);
  color: #fff;
}

.review-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-textarea {
  max-width: 410px;
  min-width: 200px;
  min-height: 140px;
  max-height: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
  background-color: inherit;
  color: #fff;
  border: 2px solid #406c95;
  border-radius: 10px;
  font-size: 1.1rem;
}

.comment-textarea::placeholder {
  color: rgb(173, 164, 164);
}

.comment-textarea:focus {
  outline: none;
}

.submit-button-container {
  width: 100%;
  display: grid;
  place-items: center;
}

.submit-review-button {
  padding: 5px 60px;
  margin-top: 6px;
  background-color: inherit;
  border: 2px solid #406c95;
  width: 100%;
  color: #fff;
  border-radius: 9px;
  font-size: 1.2rem;
  transition: all 500ms;
}

.submit-review-button:hover {
  background-color: rgb(37, 34, 71);
  color: rgb(255, 255, 255);
}

.submit-review-button:focus {
  background-color: rgb(37, 34, 71);
  color: rgb(255, 255, 255);
  outline: none;
}

.no-teams {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 100px;
  font-size: 2rem;
}

.teams-flex {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10px;
}

.team-button {
  padding: 10px;
  height: max-content;
  border: 2px solid #406c95;
  background-color: #000;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 500ms;
}

.team-button:hover,
.team-button:focus {
  transform: scaleX(1.04);
  transform: translateY(-1.1px);
}

.review-score-success {
  width: 100%;
  text-align: center;
  transform: translateY(-20px);
  color: #406c95;
}
