@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap');

.create-event-page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 30% auto;
  padding: 8px;
}

.create-event-form {
  display: grid;
  height: max-content;
}

.create-event-page h1 {
  font-family: 'Poppins', serif;
  font-size: 1.5rem;
}

.create-event-form-fields > input {
  border-radius: 0;
}

.create-event-form-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-family: 'Azonix', sans-serif;
}

.form-problem-statements {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 100%;
  padding: 0 8px 8px 8px;
  overflow: hidden;
}

.problem-statement {
  background-color: #171717;
  padding: 8px;
  margin: 8px;
  height: max-content;
}

.metric {
  background-color: #171717;
  padding: 8px;
  margin: 8px;
  height: max-content;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.metric-name {
  text-align: left;
  width: 100%;
  padding-left: 5px;
  color: #fff;
}

.remove-problem-statement,
.remove-metric {
  outline: none;
  border: 0;
  background-color: #111;
  height: 20px;
  width: 20px;
  color: #ccc;
}

.remove-problem-statement:hover,
.remove-metric:hover {
  color: #111;
  background-color: #fff;
}

.submit-event {
  width: 95%;
  background-color: #171717;
  height: 3rem;
  font-size: 1.2rem;
  color: #fff;
  outline: none;
  border: 0;
}

.submit-event:hover {
  cursor: pointer;
}
