.create-event-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.create-event-title {
  font-family: 'Azonix', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
}

.create-event-body {
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 40px;
  overflow-y: auto;
}

.create-event-body > div {
  margin: 0 18px;
}

.create-event-details {
  overflow-y: auto;
  height: 90%;
  border-right: 3px solid #406c95;
}

.create-event-input-container {
  display: flex;
  flex-direction: column;
}

.create-event-input-label {
  width: 100%;
  font-family: sans-serif;
  font-size: 1.2rem;
  margin: 10px 0;
}

.create-event-textarea {
  width: 60%;
  max-width: 80%;
  min-width: 60%;
  min-height: 100px;
  font-size: 1rem;
}

.create-event-ps-textarea {
  min-width: 400px;
  max-width: 400px;
  max-height: 200px;
  min-height: 100px;
}

.react-datepicker__input-container > input,
.create-event-input {
  width: 60%;
  background-color: #000;
  color: #fff;
  border: 2px solid #406c95;
  border-radius: 7px;
  font-size: 1.2rem;
  padding: 9px;
}

.create-event-input:focus {
  outline: none;
}

.create-event-ps {
  overflow-y: auto;
  height: 90%;
  border-right: 3px solid #406c95;
}

.ps-helper {
  margin: 10px 0;
  font-size: 0.95rem;
  color: #718599;
}

.ps-helper:hover::after {
  content: ", okay?";
}

.ps-helper > svg {
  transform: translate(0, 3px);
}

.problemstatements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.problem-statement,
.metric {
  margin: 5px;
  width: max-content;
  padding: 7px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 10px;
  border: 2px solid #406c95;
  border-radius: 9px;
}

.remove-problem-statement {
  border-left: 2px solid #406c95;
  padding-left: 5px;
  transition: all 500ms;
}

.remove-problem-statement:hover {
  cursor: pointer;
  border-left: 2px solid red;
}

.remove-problem-statement > svg {
  transform: translate(0, 2px);
}

.create-event-button {
  padding: 7px;
  border: 2px solid #406c95;
  background-color: #000;
  color: #fff;
  border-radius: 9px;
  font-size: 1rem;
  width: 400px;
  transition: all 500ms;
}

.create-event-button:hover {
  background-color: #fff;
  color: #000;
}

.success-message {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: grid;
  place-items: center;
}

.react-datepicker {
  border: 3px solid #406c95;
  border-radius: 7px;
  box-shadow: none;
}

.react-datepicker *,
.react-datepicker *:hover {
  background-color: #000;
  color: #fff;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #302b2b;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #406c95;
  color: #fff;
}

/* Hover on selected date */

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #2181db;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker-ignore-onclickoutside:focus {
  outline: none;
}
