@import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix);

.hackJudge-logo {
  width: 110px;
  height: auto;
}

.dsc-logo {
  width: 320px;
  height: auto;
  background-color: black;
}

.loginHeader-ul {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.login-dsc-logo {
  margin-left: auto;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

.login-title {
  padding: 20px;
  font-family: 'Azonix',  sans-serif;
  font-size: 50px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  line-height: 81px;
  letter-spacing: 0em;
  text-align: left;
}

.login-form {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 350px;
  height: 45px;
  margin: 15px;
  background-color: #171717;
  color: white;
  border: 0;
  outline: none;
  padding: 12px;
  padding-left: 20px;
  border-radius: 4px;
  font-size: 15px;
}

.login-button {
  background-color: #335677;
  cursor: pointer;
}

input::placeholder {
  color: #E1E1E1;
}

.user-type-login-button > button {
  border: 0;
  outline: none;
  background-color: inherit;
  color: white;
  font-size: 15px;
}

.user-type-login-button > button:hover {
  cursor: pointer;
}
