.hackJudge-logo{
    height: 40px
}

.dsc-logo{
    height: 40px
}

.loginHeader-ul{
    align-items: center;
    display: flex;

    list-style-type: none;
    margin: 0;
    padding: 10px

}
/* csstricks */
.login-dsc-logo{
    margin-left: auto;
    background-color: white;
}

.hackJudge-logo{
    background-color: white;
}
