@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap');

.participant-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unregistered-events-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.unregistered-event-card {
  padding: 10px;
  width: 100%;
  background-color: #17171786;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  font-family: 'Poppins', sans-serif;
}

.unregistered-event-card > div:last-child {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 15px;
}

.unregistered-event-card button {
  padding: 7px;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 4px;
  color: #fff;
  font-size: 1.4rem;
  transition: all 500ms;
}

.unreg-event-details {
  position: fixed;
  top: 10%;
  left: 25%;
  min-width: 50%;
  width: 50%;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: rgba(42, 37, 37, 0.4);
  padding: 30px;
}

.unreg-event-details-topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.event-details-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: baseline;
  gap: 10px;
}

.event-details-title > h1 {
  font-size: 2rem;
  font-weight: 700;
}

.event-details-title > h3 {
  font-size: 1.2rem;
  font-weight: normal;
  color: rgb(179, 179, 179);
}

.unreg-event-detail-close {
  background-color: #171717;
  width: max-content;
  padding: 5px 10px 5px 10px;
  border: 1px solid white;
  border-radius: 4px;
  transition: all 500ms;
  font-size: 1.2rem;
  font-weight: 500;
}

.unreg-event-detail-close:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.event-details-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.unreg-event-ps {
  display: flex;
  flex-direction: column;
}

.unreg-event-ps li {
  list-style: none;
}

.create-team-overlay {
  width: 500px;
  padding: 20px;
  background-color: #171717;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create-team-form {
  width: 80%;
}

.create-team-form > label {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 200;
  gap: 5px;
  padding-bottom: 10px;
  width: 100%;
}

.create-team-input {
  width: 100%;
  background-color: #fffd;
  border: 0;
  border-radius: 4px;
  color: #000;
  height: 2rem;
  font-size: 1.5rem;
  padding: 6px;
  text-align: center;
}

.create-team-input:focus {
  outline: none;
  border: 1px solid hsl(241, 77%, 66%);
}

.create-team-button {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  color: #000;
  width: 80%;
  height: 2.2rem;
  font-size: 1.5rem;
  transition: all 500ms;
}

.create-team-button:hover {
  background-color: #000;
  color: #fff;
}

.create-team-button:focus {
  background-color: #000;
  color: #fff;
}

.jointeam-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.705);
  display: grid;
  place-items: center;
}

.jointeam-label {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  gap: 7px;
  padding-bottom: 10px;
}

.jointeam-input {
  height: 2.4rem;
  max-width: 400px;
  min-width: 300px;
  background-color: #171717;
  border-radius: 4px;
  color: #fff;
  border: 0;
  font-size: 1.4rem;
  padding: 7px;
  transition: all 500ms;
}

.jointeam-input:focus {
  border: 1px solid gray;
  background-color: #fff;
  color: #000;
  outline: none;
}

.jointeam-input:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid rgb(78, 78, 78);
}

.jointeam-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.jointeam-overlay button {
  height: 2.7rem;
  font-size: 1.2rem;
  background-color: #171717;
  color: #fff;
  padding: 7px;
  width: 49%;
  outline: none;
  border: 0;
  border-radius: 4px;
  transition: all 500ms;
}

.jointeam-overlay button:hover {
  background-color: #fff;
  color: #000;
}

/*
 * These two should be at around line 47,
 * the linter is a cunt
 */
.unregistered-event-card button:first-child {
  background-color: hsl(175, 100%, 51%);
  color: rgb(0, 0, 0);
  transition: all 500ms;
}

.unregistered-event-card button:hover {
  text-decoration: underline;
}
